.header__envelope-picture {
  height: 50px;
  width: 50px;
}

.header__login-link {
  float: right;
}

.header__about-link {
  display: block;
  float: right;
  margin-right: 10px;
}


.header__userName {
  float: right;
}
