#react-img-envelope {
    height: 50px;
    width: 50px;
    display: block;
}

#react-a-login-link {
    float: right;
    margin-bottom: 20px;
    display: block;
}

#react-a-about-link {
    float: right;
    margin-right: 10px;
    display: block;
}

